:root {
  --primary-color: rgb(96, 60, 255);
  --secondary-color: rgb(88, 88, 88);
  --max-width: 1100px;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* utility class */
.py-1 {
  padding: 2rem 2rem 2rem 2rem;
}

.container {
  max-width: var(--max-width);
  padding: 1rem 1rem;
  margin: auto;
  overflow: hidden;
  margin-bottom: 1rem;
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.navbar-container > div {
  margin: 0 auto;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0.75rem;
  position: relative;
  border-radius: 8px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--primary-color);
}

#price {
  padding: 1rem;
  border-radius: 8px;
  background: var(--primary-color);
  color: white;
}

.showcase-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.welcome {
  position: relative;
  left: 0;
  top: 25%;
  width: 100%;
}

.welcome h1 {
  padding-bottom: 1rem;
  font-size: 36px;
  color: var(--secondary-color);
}

.welcome p {
  padding-bottom: 1rem;
}

.welcome h1 > span {
  font-size: 36px;
  color: var(--primary-color);
}

.svg-1 img {
  position: relative;
  margin: auto;
  width: 100%;
}

.overview {
  padding-top: 1.5rem;
}

.overview a {
  padding: 1rem;
  background: var(--primary-color);
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.overview a:hover {
  background: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

.overview a i {
  padding-left: 0.5rem;
}

.works-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.works-icon {
  padding-bottom: 1.5rem;
  color: var(--primary-color);
}

.works-container h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: rgb(88, 88, 88);
}

.description {
  color: rgb(127, 134, 136);
}
